@{
    ViewBag.Title = "Development Services";
    ViewBag.ContentCssClass = "";
    ViewBag.HasImage = false;
}

<section class="main grey-band">
    <article class="main-content">
        <h1 class="divot after orange-blue">Development Services</h1>
    </article>

    <div class="max-wrap">
        <article class="container content" role="main">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text">
                        When someone asks <strong>"So.. what do you do?"</strong>, it can be hard to answer -
                        because in reality the answer seems too simple to be true - we build products. There's a bit more to it than that,
                        but at the heart of things.. there you have it.
                    </p>
                    <p class="text">
                        In reality this breaks down into several activities ranging from help to define the functionality required, through
                        working with partners who specialise in user experience or design, to outlining the architecture required and writing
                        the actual code to build the application.
                    </p>
                    <p class="text">
                        Some joke that there is an app for everything now, but the truth is that there's a good reason and nothing is more
                        satisfying than seeing your idea made real on users' phones. You know your idea and your business best, but we know technology
                        and we would love to help you bring the two together.
                    </p>
                    <p class="text">
                        There are other aspects to what we do from <strong>database design and development</strong> to
                        <strong>integration with third party APIs</strong> such as
                        MailChimp, Salesforce, Stripe and many more - and if you need to <strong>bring technology in to an your business or venture</strong>,
                        that's where we come in.
                    </p>
                </div>
            </div>
        </article>
    </div>
</section>