﻿@{
    ViewBag.Title = "Product Development in Jersey";
    ViewBag.ContentCssClass = "home";
    ViewBag.HasImage = false;
}

<section class="main">
    <article class="home-welcome">
        <img src="~/img/logo.svg" width="200" height="60" alt="Codentia Logo" />
    </article>
    <div class="grey-band">
        <div class="max-wrap">
            <article class="content container home-intro" role="main">
                <div class="row">
                    <div class="col-12">
                        <h2>Writing code, creating things!</h2>

                        <p>Simply put, we write code and apply technology to support your business or venture.</p>
                        <p>Whether that means building a new application from scratch, helping you to prepare a Minimum Viable Product (MVP) to bring your idea to market, or joining up and customising existing systems to better fit your processes, we are here to provide the technical skills that you need.</p>
                        <p>Our team have experience in a number of core programming languages and technologies including ASP.NET Core, C#, Javascript, PHP, Python and Ruby (on Rails) amongst others. We've worked with a wide variety of systems and platforms from Content Management with WordPress and Django all the way through to API Integration with popular accounting, marketing and payment services.</p>
                        <p>We are a proud to be a Google Cloud Partner and provide a range of services from the Google Cloud platform as well as productivity tools from Google Workspace.</p>
                        <p>If you need help with getting something built, adding to something you've already had built - or just want to talk through your idea to find out what would be involved in bringing it to life, we are here to support and work with you.&nbsp;</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
