@{
    ViewBag.Title = "The Team";
    ViewBag.ContentCssClass = "";
    ViewBag.HasImage = false;
}

<section class="main grey-band">
    <article class="main-content">
        <h1 class="divot after green-blue">Our Team</h1>
    </article>

    <div class="row">
        <div class="max-wrap">
            <article class="container content" role="main">
                <div class="max-wrap">
                    <h2>The Management</h2>
                    <article class="team-item">
                        <img src="/img/team/matt.jpg" alt="Matt Chatterley">
                        <h3>Matt Chatterley</h3>
                        <h4>Managing Director &amp; Architect</h4>
                        <p>
                            Matt is a technology entrepreneur with 25 years experience delivering Software-as-a-Service
                            platforms spanning verticals including Hospitality, Telecoms, Healthcare and Finance.
                        </p>
                    </article>
                    <article class="team-item">
                        <img src="/img/team/perry.jpg" alt="Perry Marquer">
                        <h3>Perry Marquer</h3>
                        <h4>Development Director &amp; Team Leader</h4>
                        <p>
                            Perry changed careers into software development in 2016 via the Digital Jersey Coding
                            Programme and has been a key part of our team ever since. He has extensive experience
                            building solutions in a range of technologies including PHP, C# and Javascript.
                        </p>
                    </article>
                </div>
            </article>
            <article class="container content" role="main">
                <div class="max-wrap">
                    <h2>The Team</h2>
                    <article class="team-item">
                        <img src="/img/team/nadia.png" alt="Nadia">
                        <h3>Nadia</h3>
                        <h4>Senior Developer</h4>
                        <p>
                            Nadia first brightened up our days when she spent her Project Trident work experience with us - 
                            and essentially never left! She is now a senior member of our team (and top e-athlete) with 
                            responsibilities that span supervising our more junior colleagues as well as the 
                            implementation of our projects.
                        </p>
                    </article>
                    <article class="team-item">
                        <img src="/img/team/tiago.png" alt="Tiago">
                        <h3>Tiago</h3>
                        <h4>Developer</h4>
                        <p>
                            Another alumni of the Digital Jersey Coding Programme, Tiago went on to teach on our own
                            Practical Coding Foundation course - he is an enthusiastic, inventive developer who greatly
                            enjoys sharing his knowledge with others. He has extensive experience providing change
                            management and implementation services to the Financial Services sector.
                        </p>
                    </article>
                    <article class="team-item">
                        <img src="/img/team/sam.jpg" alt="Sam">
                        <h3>Sam</h3>
                        <h4>Developer</h4>
                        <p>
                            Sam joined us part-time and has flourished into a full time member of our team. He's a 
                            skilled developer and technical consultant with experience in a range of languages including 
                            PHP, C# and JavaScript.
                        </p>
                    </article>
                    <article class="team-item">
                        <img src="/img/team/jenni.png" alt="Jenni">
                        <h3>Jenni</h3>
                        <h4>Junior Developer</h4>
                        <p>
                            Jenni brings real-world scientific experience to our technical team. As a part-time 
                            colleague she is focused on development projects which in the .NET Core Framework and 
                            has been instrumental in modernising a number of our internal systems.
                        </p>
                    </article>
                    <article class="team-item">
                        <img src="/img/team/connor.jpeg" alt="Connor Hoopes">
                        <h3>Connor</h3>
                        <h4>Junior Developer</h4>
                        <p>
                            Connor is the newest addition to our team and has proven himself to be very enthusiastic and 
                            effective. With a background in low/no-code systems like Alteryx, he previously worked closely 
                            with <a href="https://dementia.je/" target="_blank">Dementia Jersey</a> to migrate them to a 
                            CRM and built an app for them using Power Platform. He's well on his way to becoming a C# developer.
                        </p>
                    </article>
                    <article class="team-item">
                        <img src="/img/team/rosa.jpg" alt="Rosa">
                        <h3>Rosa</h3>
                        <h4>Office Manager</h4>
                        <p>
                            Rosa is responsible for all the day-to-day activities which keep everyone (and everything)
                            running, including invoicing - and dealing with your .je/.gg domain names and Google
                            Workspace subscriptions.
                        </p>
                    </article>
                    <article class="team-item">
                        <img src="/img/team/mystery.jpg" alt="Who is next?">
                        <h3>Who is next?</h3>
                        <h4>Apprentice Developer</h4>
                        <p>
                            We are always on the look out for talented, passionate individuals who could be the perfect 
                            colleague we never knew we were missing. If you think this might be you, get in touch!
                        </p>
                    </article>
                </div>
            </article>
        </div>
    </div>
</section>