@{
    ViewBag.Title = "Training & Education";
    ViewBag.ContentCssClass = "";
    ViewBag.HasImage = false;
}

<section class="main grey-band">
    <article class="main-content">
        <h1 class="divot after pink-yellow">Training &amp; Education</h1>
    </article>

    <div class="max-wrap">
        <article class="container content" role="main">
            <div class="row">
                <div class="col-12">
                    <div class="max-wrap">
                        <h2>We take Education very seriously</h2>
                        <p>We believe that some subjects need to be taught in a practical manner by someone who has the experience you can only get from using that knowledge (or skill) in the real world - especially when it comes to technical subject matter - the majority of our team have worked their way up from an apprenticeship and we've proven the value of this approach repeatedly over time.</p>
                        <p>We have substantial experience in delivering technical training to a variety of audiences (ranging from interested novices learning to code, to experienced developers learning a new language, to system users and administrators who just want to understand what they are doing in a little more depth).</p>
                        <p>Our training is typically prepared to order so that we can best meet your requirements, but from time to time we do offer broader courses to a general audience (such as the Practical Coding Foundation which we delivered in conjunction with Digital Jersey).</p>
                        <p>Everyone learns differently and if you have any questions, concerns or special requirements, we'd be delighted to talk to you about them.
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>