﻿@using je.code.web.ui
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Codentia</title>
    <link href="~/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!--
    <link rel="alternate" type="application/rss+xml" title="code.je Latest Articles and News" href="/blog/feed/" />
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/core.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-XxNLWSzCxOe/CFcHcAiJAZ7LarLmw3f4975gOO6QkxvULbGGNDoSOTzItGUG++Q+" crossorigin="anonymous" />

    <script src="https://banner.cookiescan.com/js?id=36-212647"></script>

    <!--[if lt IE 9]>
            <link rel="stylesheet" href="/css/site.ie.min.css">
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//use.typekit.net/mez4nhp.js"></script>
    <script>try { Typekit.load(); } catch (e) { }</script>

    @RenderSection("head", required: false)
</head>
<body class="@ViewBag.ContentCssClass">
    <div id="wrap">
        <header class="header small-pad">

            <div class="max-wrap">

                <div class="logo">
                    <a href="~/" title="Go home"><img src="~/img/logo-mark.svg" width="17" height="22" alt="Codentia Logo" /></a>
                </div>
                <div class="site-name">
                    <a href="~/" title="Go home">Codentia</a>
                </div>

                <nav class="main-nav" role="navigation" id="menu">
                    <partial name="Partial/_Menu.cshtml" />
                </nav>

                <a class="menu-trigger" href="#menu" title="Open Menu"><i class="fa fa-bars"></i><span class="i">Open Menu</span></a>
            </div>
        </header>

        @RenderSection("main", required: false)

        @RenderBody()

        <section class="contact-panel container pink p-0">
            <article class="min-wrap">
                <div class="row">
                    <div class="col-12">
                        <p>
                            Software should adapt to suit your business, not the other way around. We can help.
                        </p>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <a class="btn primary" href="mailto:hello@code.je">Email us</a>
                            </div>
                            <div class="col-12 col-md-4">
                                                           <a class="btn secondary charcoal" href="https://calendar.app.google/35YisWPZhh7yzuVJ8" target="_blank">Book a 15 minute chat</a>  
                            </div>
                            <div class="col-12 col-md-4">
                                 <a class="btn ocean" href="https://forms.monday.com/forms/852f8c63a20195edeb554c1a8a76cc67" target="_blank">Domain Registration</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <footer class="footer meta default-pad">

            <div class="max-wrap">

                <nav class="social-nav right">
                    <ul>
                        <li><a href="mailto:hello@code.je">hello@code.je</a></li>
                        <li><a href="http://facebook.com/codentia" title="Facebook"><i class="fab fa-2x fa-facebook-square"></i></a></li>
                    </ul>
                </nav>

                <div class="left row flex-column-reverse flex-sm-row g-3">
                    <div class="col-12 col-sm-4 d-flex justify-content-center">
                        <small>
                            Codentia Ltd, Jersey. Registered Company No. 117779.<br>
                            &copy; 2006-@DateTime.Now.Year, Designed and built by Codentia<br>
                            <a href="/terms-conditions-privacy">Terms, Conditions &amp; Privacy Policy</a>
                        </small>
                    </div>
                    <div class="col-12 col-sm-4 d-flex justify-content-center my-5 my-sm-0">
                        <img style="min-width: 139px;" src="~/img/google/lockup_GoogleCloud_FullColor_rgb_139x24px.png" width="139" height="24"  />
                    </div>
                    <div class="col-12 col-sm-4 d-flex justify-content-center">
                        <img style="min-width: 191px;" src="~/img/google/Google_Workspace_191x24px_clr_lockup_Google_Product_160x24px_clr.png" width="191" height="24" />
                    </div>
                </div>
            </div>
        </footer>
    </div> <!-- /wrap -->

    <a href="#top" id="btt"><i class="fa fa-chevron-up"></i><span class="i">Back to Top</span></a>

    <script>var ie9 = false;
        var ltie8 = false;</script>
    <!--[if lte IE 9 ]>
    <script> var ie9 = true; </script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script> var ltie8 = true; </script>
    <![endif]-->

    @{
        if (AppSettings.Current.ShowAnalytics)
        {
            <script>(function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-775071-3', 'auto');
                ga('send', 'pageview');</script>
        }
    }

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/js/scripts.min.js"></script>
    @RenderSection("script", required: false)
</body>
</html>