<ul>
    <li class='@(Url.RouteUrl(ViewContext.RouteData.Values) == "/" ? "current-menu-item" : "")'>
       <a class="nav-item nav-link" href="/">Home</a>
    </li>
    <li class='@(Url.RouteUrl(ViewContext.RouteData.Values) == "/about" ? "current-menu-item" : "")'>
        <a class="nav-item nav-link" href="/about">Team</a>
    </li>
    <li class='@(Url.RouteUrl(ViewContext.RouteData.Values) == "/services" ? "current-menu-item" : "")'>
        <a class="nav-item nav-link" href="/services">Development</a>
    </li>
    <li class='@(Url.RouteUrl(ViewContext.RouteData.Values) == "/training" ? "current-menu-item" : "")'>
        <a class="nav-item nav-link" href="/training">Training</a>
    </li>
    <li class="">
        <a class="nav-item nav-link" href="mailto:support@code.je">Support</a>
    </li>

    <li>
        <a class="nav-item nav-link" href="mailto:hello@code.je" target="_blank">Contact</a>
    </li>
</ul>