﻿@charset "UTF-8";
/*!

  Codentia
  Version: 1.0.0
  Last Updated: 16th March 2024

  ==========================================================================
*/
/* ==========================================================================
    Resets & Box Sizing
  ========================================================================== */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

ins {
  background-color: #ff9;
  color: #333;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #333;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px/1.231 sans-serif; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

html {
  overflow-y: scroll; }

a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  list-style: none;
  list-style-image: none;
  margin: 0; }

small {
  font-size: 85%; }

b,strong, th {
  font-weight: 700; }

td {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid, input.input-validation-error, textarea.input-validation-error {
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid, .no-boxshadow input.input-validation-error, .no-boxshadow textarea.input-validation-error {
  background-color: #f0dddd; }

.field-validation-error
{
    display: block;
    color: red;
    margin-top: 5px;
}

.form-message-failure
{
    color: red;
}

.form-message-success
{
    color: #58ba57;
}

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

input[type="radio"], .ie6 input {
  vertical-align: text-bottom; }

em, i {
  font-style: oblique; }

* {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: aliased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  
/* ==========================================================================
		Tables
	========================================================================== */
table {
  max-width: 100%; }

table, table td, table th {
  border: 1px solid #ccc;
  border-collapse: collapse; }

table td, table th {
  padding: 10px; }

table th {
  background: #f3f3f3;
  font-weight: 700; }

table tr:nth-child(odd) td {
  background: #f9f9f9; }

/* Fonts */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #343e3e;
  line-height: 1.5; }

h1, h2, h3,
h4, h5, h6,
.btn, .header,
.contact-panel,
.testimonials-panel,
.service-link, .training-link,
button {
  font-family: "kepler-std", Georgia, serif;
  font-weight: 400; }

h1, h2, h3,
h4, h5, h6 {
  margin-bottom: .75em; }

p {
  margin-bottom: 1.5em; }
  p:last-of-type {
    margin-bottom: 0; }

a {
  font-weight: 700; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .header nav a {
  font-weight: 400; }

/* Font Sizes */
#wrap {
  font-size: 16px;
  font-size: 1.6rem; }

h1 {
  font-size: 32px;
  font-size: 3.2rem; }

.home-welcome h1 {
  font-size: 22px;
  font-size: 2.2rem;
  margin-bottom: 0;

}

h2 {
  font-size: 28px;
  font-size: 2.8rem; }

h3,
.contact-panel,
.testimonials-panel {
  font-size: 22px;
  font-size: 2.2rem; }

h4,
.service-link, .training-link, .strapline h2 {
  font-size: 20px;
  font-size: 2rem; }

h5 {
  font-size: 19px;
  font-size: 1.9rem; }

h6, .team-item h4 {
  font-size: 18px;
  font-size: 1.8rem; }

.news-item,
.team-item {
  font-size: 14px;
  font-size: 1.4rem; }

.team-item h3 + h4,
.portfolio-item h3 + h4 {
  font-size: 15px;
  font-size: 1.5rem; }

.meta {
  font-size: 79%; }

.team-item h3 {
  margin-bottom: -4px; }

.contact-panel, .strapline,
.testimonials-panel {
  text-align: center; }

.btn {
  font-size: 16px;
  font-size: 1.6rem; }

/* Setup */
html {
  font-size: 46.5%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

@media screen and (min-width: 40em) {
  /* 640px */
  html {
    font-size: 55.5%; } }
@media screen and (min-width: 57.5em) {
  /* 920px */
  html {
    font-size: 60.5%; } }
/* ==========================================================================
		0.Forms
	========================================================================== */
::-webkit-input-placeholder {
  color: #898c8c; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #898c8c; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #898c8c; }

:-ms-input-placeholder {
  color: #898c8c; }

input[type="text"], input[type="url"], input[type="email"],
input[type="tel"], input[type="password"], textarea {
  background-color: #fff;
  border: 1px solid #d1d2d2;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
  width: auto;
  padding: 1em 0.75em;
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  color: #343e3e;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

input[type="submit"], button {
  -webkit-appearance: none;
  background-color: transparent;
  font-size: 18px;
  font-size: 1.8rem; }

input[type="text"]:hover, input[type="url"]:hover, input[type="email"]:hover,
input[type="tel"]:hover, input[type="password"]:hover, textarea:hover {
  color: #343e3e;
  background-color: rgba(0, 0, 0, 0.03); }

input[type="text"]:focus, input[type="url"]:focus, input[type="email"]:focus,
input[type="tel"]:focus, input[type="password"]:focus, textarea:focus {
  color: #343e3e;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.05); }

input[type="checkbox"] {
  vertical-align: top; }

label {
  color: #898c8c; }

select {
  width: 100%; }

input.searchsubmit,
input[type="submit"].searchsubmit {
  display: none; }

/* ==========================================================================
	Global Styles
	========================================================================== */
a, a:hover {
  -o-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out; }

.max-wrap {
  display: table;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.extended-wrap {
  display: table;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; }

.min-wrap {
  display: table;
  max-width: 770px;
  margin: 0 auto; }

body {
  margin-top: 40px; }

.header {
  background: #262c2e;
  display: table;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9; }
  .header:hover .site-name, .header.hover .site-name {
    opacity: 1; }
  .header nav {
    display: none; }
  .header.menu-active nav {
    display: block;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    background: #262c2e;
    text-align: center;
    padding: 60px 30px; }
    .header.menu-active nav li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
      .header.menu-active nav li:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.15); }
    .header.menu-active nav a {
      font-size: 22px;
      font-size: 2.2rem;
      padding: 20px;
      display: block; }
      .header.menu-active nav a:hover {
        color: #fff;
        opacity: .5; }
  .header a {
    color: #fff; }
  .header .logo, .header .menu-trigger, .header .site-name {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 9; }
  .header .menu-trigger {
    width: 40px;
    text-align: right;
    line-height: 0;
    float: right; }
    .header .menu-trigger .fa {
      font-size: 27px;
      font-size: 2.7rem;
      color: #fff; }
  .header .logo {
    width: 20px;
    text-align: left;
    line-height: 0; }
    .header .logo a:hover {
      opacity: .5; }
  .header .site-name {
    color: #fff;
    opacity: 0;
    -o-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out; }
    .header .site-name a {
      font-weight: 400;
      color: #fff; }
    .header .site-name a:hover {
      opacity: .5; }

.footer {
    background-color: #fafafa;
  display: table;
  width: 100%;
  text-align: center;
  padding: 30px; }
  .footer .social-nav {
    font-size: 14px;
    font-size: 1.4rem; }
    .footer .social-nav li {
      display: inline-block;
      vertical-align: middle;
      padding: 0; }
      .footer .social-nav li a {
        color: #262c2e; }
        .footer .social-nav li a:hover {
          color: #e61e66; }
      .footer .social-nav li .fa {
        font-size: 18px;
        font-size: 1.8rem;
        color: #262c2e;
        -o-transition: opacity 0.25s ease-in-out;
        -webkit-transition: opacity 0.25s ease-in-out;
        -moz-transition: opacity 0.25s ease-in-out;
        transition: opacity 0.25s ease-in-out; }
        .footer .social-nav li .fa:hover {
          opacity: .5; }
      .footer .social-nav li:before {
        content: '/';
        font-size: 22px;
        font-size: 2.2rem;
        width: 30px;
        display: inline-block;
        opacity: .5; }
      .footer .social-nav li:first-child:before {
        display: none; }

.i {
  position: absolute;
  left: -9999em;
  font-size: 0; }

/*.row {
  width: 100%;
  display: flex;
  background: #fafafa;
  padding: 40px 20px; }
  .row.white {
    background: transparent; }
  .row.pink {
    background: #e61e66;
    color: #fff; }
  .row.blue {
    background: #45bcd2;
    color: #fff; }
  */

#wrap .row {
    margin: 0;
    padding: 20px 0;
}

.small-pad {
  padding: 10px; }

.default-pad {
  padding: 20px; }

.left + .right, .right + .left {
  padding-top: 40px; }

/* GPU Enhanced */
.fa, .fa:hover {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

/* ==========================================================================
	Colours
	========================================================================== */
.highlight, a.highlight {
  color: #45bcd2;
  font-weight: 700; }

a {
  color: #58ba57;
  text-decoration: none; }

a:hover, a.highlight:hover, .meta a:hover {
  color: #262c2e;
  text-decoration: none; }

.meta {
  color: #989b9b; }
  .meta a {
    color: #989b9b;
    font-weight: 400; }

/* ==========================================================================
	Homepage
	========================================================================== */
.home-welcome {
  text-align: center;
  display: block;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 700px; }
  .home-welcome h1.divot {
    padding: 0; }

.home-intro .btn-home {
  text-align: center; }

.home-intro h2, .home-news h2 {
  text-align: center; }

.home-intro .row, .max-wrap .row
{
    padding: 0;
    width: auto;
}

/* ==========================================================================
	Buttons
	========================================================================== */
.btn,
button,
input[type="submit"] {
  color: #fff;
  padding: 1em 2.5em;
  text-shadow: none;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1em;
  text-decoration: none;
  border-radius: 4px;
  background-color: #e61e66;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.3);
  border: none;
  padding: 1em 1.8em 1.1em 1.8em;
  position: relative; }
  .btn:hover,
  button:hover:not(.gdpr-modal__trigger),
  input[type="submit"]:hover {
    text-decoration: none;
    color: #fff;
    top: 2px;
    box-shadow: none; }
  .btn.charcoal,
  button.charcoal,
  input[type="submit"].charcoal {
    background-color: #262c2e; }
  .btn.ocean, 
  button.ocean, 
  input[type="submit"].ocean{
    background-color: #257ab3;}
  .btn.inactive,
  button.inactive,
  input[type="submit"].inactive {
    background-color: #d1d2d2;
    color: #343e3e;
    opacity: .6; }
    .btn.inactive:hover,
    button.inactive:hover,
    input[type="submit"].inactive:hover {
      box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.3);
      top: 0; }

/* ==========================================================================
	Divots for headings
	========================================================================== */
.divot.before:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin: 20px auto;
  background: url(/img/divot-pink-yellow.svg) center center no-repeat;
  background-size: 12px 12px; }
.divot.after:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin: 20px auto 0 auto;
  background: url(/img/divot-pink-yellow.svg) center center no-repeat;
  background-size: 12px 12px; }
.divot.after.green-blue:after {
  background-image: url(/img/divot-green-blue.svg); }
.divot.after.orange-blue:after {
  background-image: url(/img/divot-orange-blue.svg); }

/* ==========================================================================
	News & News Items
	========================================================================== */
.news-item h3, .news-item h5 {
  margin-bottom: 0; }
.news-item h3 a, .news-item h5 a {
  color: #343e3e;
  padding-bottom: 3px;
  border-bottom: 1px solid #d1d2d2;
  -o-transition: border 0.25s ease-in-out;
  -webkit-transition: border 0.25s ease-in-out;
  -moz-transition: border 0.25s ease-in-out;
  transition: border 0.25s ease-in-out; }
  .news-item h3 a:hover, .news-item h5 a:hover {
    color: #262c2e;
    border-color: #262c2e; }
.news-item .meta {
  padding-top: 4px; }

.news-item + .news-item {
  padding-top: 32px; }

/* ==========================================================================
	General Pages
	========================================================================== */
h1.divot {
  text-align: center;
  padding: 50px 20px 30px 20px; }

.contact-panel,
.testimonials-panel {
  padding: 70px 30px; }


.testimonials-panel {
  position: relative; }
  .testimonials-panel .flexslider {
    margin-bottom: 40px; }
    .testimonials-panel .flexslider blockquote {
      font-size: 100%; }
      .testimonials-panel .flexslider blockquote:before {
        content: ' “ ';
        display: block;
        margin: 0 auto;
        font-family: "kepler-std", Georgia, serif;
        font-size: 180px;
        font-size: 18rem;
        line-height: 0;
        margin-top: 50px;
        opacity: .3;
        width: 100px; }

.testimonials-panel a {   color: #fff; }
.testimonials-panel a:hover {
  color: #000;
}

.contact-panel .btn, .strapline .btn, .testimonials-panel .btn {
  min-width: 190px;
  padding-top: 1.2em;
  padding-bottom: 1.35em; }

blockquote {
  font-style: oblique;
  font-size: 130%; }
  blockquote cite {
    display: block;
    font-size: 70%;
    opacity: .8;
    margin-top: 10px; }
    blockquote cite:before, blockquote cite:after {
      content: " — "; }

/* ==========================================================================
	About / Team
	========================================================================== */
.team-item img {
  margin-bottom: 14px; 
  max-height: 330px;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.team-item + .team-item {
  padding-top: 32px; }

/* ==========================================================================
	Services
	========================================================================== */
.service-selection {
  text-align: center; }

.service-link, .training-link {
  display: inline-block;
  padding: 10px;
  color: #343e3e;
  width: 50%;
  vertical-align: top;
  -o-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out; }
  .service-link:hover, .training-link:hover {
    opacity: 0.7; }
  .service-link:before {
    content: '';
    display: block;
    margin: 0 auto 10px auto;
    width: 120px;
    height: 120px; }
  .service-link.service-web:before {
    background: url(/img/service-web.svg) 0 0 no-repeat; }
  .service-link.service-app:before {
    background: url(/img/service-app.svg) 0 0 no-repeat; }
  .service-link.service-db:before {
    background: url(/img/service-db.svg) 0 0 no-repeat; }
  .service-link.service-api:before {
    background: url(/img/service-api.svg) 0 0 no-repeat; }

  .training-link img
  {
    display: block;
    margin: 0 auto 10px auto;
    width: 120px;
    height: 120px;
  }

  .training-link img.wordpress {
      padding-top: 22px;
      padding-bottom: 23px;
      height: auto;
  }

.service-item .service-cta {
  margin: 0 auto;
  text-align: center; }
  .service-item .service-cta img {
    max-width: 100px; }
  .service-item .service-cta .btn {
    display: block;
    max-width: 140px;
    margin: 10px auto 30px auto; }
.service-item .service-content h2 {
  text-align: center; }

.divide + .divide {
  border-top: 1px solid #d1d2d2; }

/* ==========================================================================
	Blog
	========================================================================== */
.post-image {
  width: 100%;
  display: table;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

img.avatar {
  width: 25px;
  height: 25px;
  border-radius: 100%; }

.columns h1.standard-title, .columns h2.standard-title {
  padding: 0;
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: left; }
.columns .meta {
  display: table;
  width: 100%;
  margin-bottom: 10px; }
  .columns .meta * {
    vertical-align: middle; }

.column-right {
  margin-top: 30px;
  background: #fafafa;
  padding: 40px 20px; }
  .column-right .news-item + .news-item {
    padding-top: 12px; }
  .column-right .sharer {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 20px;
    font-size: 2rem; }
    .column-right .sharer li {
      padding: 0 0 40px 0;
      margin: 0;
      display: inline-block;
      font-family: "kepler-std", Georgia, serif; }
      .column-right .sharer li:before {
        content: ' / ';
        opacity: .3; }
      .column-right .sharer li:first-child {
        margin-left: -8px; }
        .column-right .sharer li:first-child:before {
          display: none; }
      .column-right .sharer li a {
        padding: 3px 8px;
        color: #262c2e; }
        .column-right .sharer li a:hover {
          color: #e61e66; }

.blog-item {
  padding: 0 0 40px 0; }
  .blog-item h2.standard-title {
    margin-top: 40px; }
  .blog-item .post-image {
    margin-bottom: -40px; }

/* ==========================================================================
	Comments
	========================================================================== */
#comments {
  border-top: 1px solid #d1d2d2;
  padding-top: 40px; }

.commentlist, .commentlist ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.commentlist {
  padding-top: 0;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .commentlist li {
    display: block;
    width: 100%;
    margin-top: 20px; }
    .commentlist li .author-avatar, .commentlist li .comment-body {
      display: table-cell;
      vertical-align: top; }
    .commentlist li .author-avatar {
      width: 80px; }
      .commentlist li .author-avatar img.avatar {
        width: 60px;
        height: auto; }
    .commentlist li .meta time {
      display: inline; }
  .commentlist ul {
    padding: 20px 0 0 20px;
    position: relative;
    display: block; }
    .commentlist ul li {
      padding: 20px 0;
      margin: 0 0 20px 0;
      border-top: 3px solid rgba(0, 0, 0, 0.05);
      display: table; }
      .commentlist ul li .author-avatar, .commentlist ul li .comment-body {
        display: table-cell; }
      .commentlist ul li:first-child {
        border-top: none; }
  .commentlist .commentlist li:first-child li,
  .commentlist .commentlist ul li {
    border-top: 1px solid rgba(0, 0, 0, 0.05); }

/* ==========================================================================
	Pagination
	========================================================================== */
.pagination {
  display: table;
  width: 100%;
  padding: 50px 0 40px 0;
  border-top: 1px solid #d1d2d2; }
  .pagination ul {
    display: table;
    width: 100%; }
    .pagination ul li {
      display: table-cell;
      width: 50%;
      text-align: center; }
      .pagination ul li .btn {
        min-width: 120px; }

/* ==========================================================================
	Portfolio
	========================================================================== */
.strapline {
  padding-top: 40px;
  padding-bottom: 40px; }
  .strapline h2 {
    margin-bottom: 30px; }

.portfolio-item img {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 20px; 
  width:100%;
}
.portfolio-item h3 {
  margin-bottom: 0; }
.portfolio-item h4 {
  margin-bottom: 20px; }

/* Training */
.service-item h4, .service-item h5
{
    margin-top: 10px;
}


/* ==========================================================================
	Back to top
	========================================================================== */
#btt {
  position: fixed;
  text-align: center;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border-radius: 4px;
  z-index: 7;
  background: #262c2e;
  color: #fff;
  opacity: 0.7;
  display: none;
  -o-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.7); }
  #btt:hover {
    color: #fff;
    opacity: 1; }

/* ==========================================================================
    Shortcodes
  ========================================================================== */
.one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
  width: 100%; }

.one_third + .one_third {
  margin-top: 40px; }

.last {
  margin-right: 0 !important;
  clear: right; }

.clearboth {
  clear: both;
  display: inline-block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%; }

.clear {
  clear: both;
  display: block;
  width: 100%;
  float: left; }

@media screen and (min-width: 43.75em) {
  /* 700px */
  .one_half,
  .one_third,
  .two_third,
  .three_fourth,
  .one_fourth,
  .one_fifth,
  .two_fifth,
  .three_fifth,
  .four_fifth,
  .one_sixth,
  .five_sixth {
    position: relative;
    margin-right: 4%;
    float: left; }

  .one_half {
    width: 48%; }

  .one_third {
    width: 30.66%; }

  .one_third + .one_third {
    margin-top: 0; }

  .two_third {
    width: 65.33%; }

  .one_fourth {
    width: 22%; }

  .three_fourth {
    width: 74%; }

  .one_fifth {
    width: 16.8%; }

  .two_fifth {
    width: 37.6%; }

  .three_fifth {
    width: 58.4%; }

  .four_fifth {
    width: 67.2%; }

  .five_sixth {
    width: 82.67%; } }
@media screen and (min-width: 75em) {
  /* 1200px */
  .one_sixth {
    width: 13.33%; } }
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (min-width: 40em) {
  /* 640px */
  /* ==========================================================================
     Global
     ========================================================================== */
  .row {
    padding: 50px; }

  .header {
    background: #262c2e;
    display: table;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; }
    .header nav {
      width: 70%;
      display: table-cell;
      text-align: right; }
      .header nav li {
        display: inline-block; }
        .header nav li.current-menu-item a {
          color: #e61e66; }
        .header nav li:before {
          content: '/';
          display: inline-block;
          color: #fff;
          opacity: .3; }
        .header nav li:first-child:before {
          display: none; }
        .header nav li a {
          display: inline-block;
          padding: 3px 10px; }
          .header nav li a:hover {
            color: #58ba57; }
    .header .menu-trigger {
      display: none; }

  /* ==========================================================================
     Home
     ========================================================================== */
  .home-welcome {
    padding: 90px 20px; }

  .home-intro h2, .home-intro .btn-home, .home-news h2 {
    text-align: left; }

  .home-news .news-item {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 32px;
    padding-right: 40px;
    float: left; }
  .home-news .news-item + .news-item {
    padding-top: 0; }

  /* ==========================================================================
  	General Pages
  	========================================================================== */
    
        .main-content h1 {
            background-color: #fff;
        }

  h1.divot {
    padding: 97px 20px 67px 20px }

  /* ==========================================================================
  	About / Team
  	========================================================================== */
  .team-item {
    display: inline-block;
    width: 49.8%;
    vertical-align: top;
    padding-right: 20px; }

  .team-item:nth-of-type(even) {
    padding-right: 0;
    padding-left: 20px; }

  .team-item + .team-item {
    padding-top: 0;
    padding-bottom: 30px; }

  /* ==========================================================================
     Services
     ========================================================================== */
  .service-link, .training-link {
    width: 24.7%; }

  .service-item {
    display: table; }
    .service-item .service-cta, .service-item .service-content {
      display: table-cell;
      vertical-align: top; }
    .service-item .service-cta {
      width: 240px;
      padding-right: 20px; }
      .service-item .service-cta img {
        max-width: 70%; }
      .service-item .service-cta .btn {
        display: block;
        max-width: 70%; }
    .service-item .service-content h2 {
      text-align: left; }

    .service-content ul
    {
        padding-bottom: 15px;
    }

  /* ==========================================================================
     Blog
     ========================================================================== */
  .post-image {
    height: 340px; }

  .columns {
    display: table;
    width: 100%; }

  .column-content, .column-right {
    display: table-cell;
    vertical-align: top; }

  .column-right {
    width: 240px; } }
@media screen and (min-width: 46.25em) {
  /* 740px */
  /* ==========================================================================
     Portfolio
     ========================================================================== */
  .portfolio-item {
    display: table;
    width: 100%;
    margin-bottom: -76px;
    padding-top: 130px; }
    .portfolio-item img {
      box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.35); }
    .portfolio-item h4 {
      margin-bottom: 40px; }
    .portfolio-item .portfolio-content, .portfolio-item .portfolio-image {
      display: inline-block;
      vertical-align: middle; }
    .portfolio-item .portfolio-image {
      width: 69%;
      padding-right: 40px; }
    .portfolio-item .portfolio-content {
      width: 30%; }

  .portfolio-item:nth-of-type(odd) {
    direction: rtl; }
    .portfolio-item:nth-of-type(odd) .portfolio-image {
      padding-right: 0;
      padding-left: 40px; }
    .portfolio-item:nth-of-type(odd) .portfolio-content {
      direction: ltr; }

  /* ==========================================================================
     Blog
     ========================================================================== */
  .post-image {
    height: 390px; } }
@media screen and (min-width: 57.5em) {
  /* 920px */
  /* ==========================================================================
     Global
     ========================================================================== */
  .left + .right, .right + .left {
    padding-top: 0; }

  .left {
    float: left;
    width: 50%; }

  .right {
    float: right;
    width: 50%; }

  .footer .left {
    text-align: left;
    width: 70%; }
  .footer .right {
    text-align: right;
    width: 30%; }
    .footer .right li {
      text-align: center; }

  .default-pad {
    padding: 50px; }

  .small-pad {
    padding-left: 25px;
    padding-right: 25px; }

  /* ==========================================================================
     Home
     ========================================================================== */
  .home-welcome {
    padding: 65px 20px; }

    /*
  .home-intro {
    width: 55%; }
      */
  .home-news {
    width: 35%; }
    .home-news .news-item {
      width: 100%;
      padding-right: 0; }

  /* ==========================================================================
  	General Pages
  	========================================================================== */
  .contact-panel,
  .testimonials-panel {
    padding: 90px 30px; }

  h1.divot {
    padding: 70px 20px 40px 20px; }

  /* ==========================================================================
    Blog
  	========================================================================== */
  .column-right {
    width: 300px;
    padding-left: 40px;
    padding-right: 40px; }

  .post-image {
    height: 440px; } }
@media screen and (min-width: 77.5em) {
  /* 1240px */
  .post-image {
    height: 540px; }

  /* ==========================================================================
    Services
    ========================================================================== */
  .service-item .service-cta {
    width: 260px; } }
@media screen and (min-width: 64em) and (min-height: 62.5em) {
  /* 1024px / 1000px */ }


.grey-band {
    background-color: #fafafa;
}