﻿@charset "UTF-8";
/*!

  Codentia
  Version: 1.0.0
  Last Updated: 6th March 2015

  ==========================================================================
*/
/* ==========================================================================
    Resets & Box Sizing
  ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

ins {
  background-color: #ff9;
  color: #333;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #333;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px/1.231 sans-serif; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

html {
  overflow-y: scroll; }

a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  list-style: none;
  list-style-image: none;
  margin: 0; }

small {
  font-size: 85%; }

strong, th {
  font-weight: 700; }

td {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

input[type="radio"], .ie6 input {
  vertical-align: text-bottom; }

em, i {
  font-style: oblique; }

img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: aliased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  
/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 0;
  text-align: center; }

.flex-control-nav li {
  margin: 0 3px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 9px;
  height: 9px;
  display: block;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

.flex-control-paging li a:hover {
  background: #efefef;
  background: rgba(255, 255, 255, 0.3); }

.flex-control-paging li a.flex-active {
  background: #fff;
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
/* ==========================================================================
		Tables
	========================================================================== */
table {
  max-width: 100%; }

table, table td, table th {
  border: 1px solid #ccc;
  border-collapse: collapse; }

table td, table th {
  padding: 10px; }

table th {
  background: #f3f3f3;
  font-weight: 700; }

table tr:nth-child(odd) td {
  background: #f9f9f9; }

/* Fonts */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #343e3e;
  line-height: 1.5; }

h1, h2, h3,
h4, h5, h6,
.btn, .header,
.contact-panel,
.testimonials-panel,
.service-link,
button {
  font-family: "kepler-std", Georgia, serif;
  font-weight: 400; }

h1, h2, h3,
h4, h5, h6 {
  margin-bottom: .75em; }

p {
  margin-bottom: 1.5em; }
  p:last-of-type {
    margin-bottom: 0; }

a {
  font-weight: 700; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .header nav a {
  font-weight: 400; }

/* Font Sizes */
#wrap {
  font-size: 16px; }

h1 {
  font-size: 32px; }

.home-welcome h1 {
  font-size: 22px;
  margin-bottom: 0; }

h2 {
  font-size: 28px; }

h3,
.contact-panel,
.testimonials-panel {
  font-size: 22px; }

h4,
.service-link, .strapline h2 {
  font-size: 20px; }

h5 {
  font-size: 19px; }

h6, .team-item h4 {
  font-size: 18px; }

.news-item,
.team-item {
  font-size: 14px; }

.team-item h3 + h4,
.portfolio-item h3 + h4 {
  font-size: 15px; }

.meta {
  font-size: 79%; }

.team-item h3 {
  margin-bottom: -4px; }

.contact-panel, .strapline,
.testimonials-panel {
  text-align: center; }

.btn {
  font-size: 16px; }

/* Setup */
html {
  font-size: 46.5%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 55.5%; }

html {
  font-size: 60.5%; }

/* ==========================================================================
		0.Forms
	========================================================================== */
::-webkit-input-placeholder {
  color: #898c8c; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #898c8c; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #898c8c; }

:-ms-input-placeholder {
  color: #898c8c; }

input[type="text"], input[type="url"], input[type="email"],
input[type="tel"], input[type="password"], textarea {
  background-color: #fff;
  border: 1px solid #d1d2d2;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
  width: auto;
  padding: 1em 0.75em;
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  color: #343e3e;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

input[type="submit"], button {
  -webkit-appearance: none;
  background-color: transparent;
  font-size: 18px; }

input[type="text"]:hover, input[type="url"]:hover, input[type="email"]:hover,
input[type="tel"]:hover, input[type="password"]:hover, textarea:hover {
  color: #343e3e;
  background-color: rgba(0, 0, 0, 0.03); }

input[type="text"]:focus, input[type="url"]:focus, input[type="email"]:focus,
input[type="tel"]:focus, input[type="password"]:focus, textarea:focus {
  color: #343e3e;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.05); }

input[type="checkbox"] {
  vertical-align: top; }

label {
  color: #898c8c; }

select {
  width: 100%; }

input.searchsubmit,
input[type="submit"].searchsubmit {
  display: none; }

/* ==========================================================================
	Global Styles
	========================================================================== */
a, a:hover {
  -o-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out; }

#wrap, body {
  min-width: 1000px; }

.max-wrap {
  display: table;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.extended-wrap {
  display: table;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; }

.min-wrap {
  display: table;
  max-width: 770px;
  margin: 0 auto; }

body {
  margin-top: 40px; }

.header {
  background: #262c2e;
  display: table;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9; }
  .header:hover .site-name, .header.hover .site-name {
    opacity: 1; }
  .header nav {
    display: none; }
  .header.menu-active nav {
    display: block;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    background: #262c2e;
    text-align: center;
    padding: 60px 30px; }
    .header.menu-active nav li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
      .header.menu-active nav li:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.15); }
    .header.menu-active nav a {
      font-size: 22px;
      padding: 20px;
      display: block; }
      .header.menu-active nav a:hover {
        color: #fff;
        opacity: .5; }
  .header a {
    color: #fff; }
  .header .logo, .header .menu-trigger, .header .site-name {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 9; }
  .header .menu-trigger {
    width: 40px;
    text-align: right;
    line-height: 0;
    float: right; }
    .header .menu-trigger .fa {
      font-size: 27px;
      color: #fff; }
  .header .logo {
    width: 20px;
    text-align: left;
    line-height: 0; }
    .header .logo a:hover {
      opacity: .5; }
  .header .site-name {
    color: #fff;
    opacity: 0;
    -o-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out; }
    .header .site-name a {
      font-weight: 400;
      color: #fff; }
    .header .site-name a:hover {
      opacity: .5; }

.footer {
  display: table;
  width: 100%;
  text-align: center;
  padding: 30px; }
  .footer .social-nav {
    font-size: 14px; }
    .footer .social-nav li {
      display: inline-block;
      vertical-align: middle;
      padding: 0; }
      .footer .social-nav li a {
        color: #262c2e; }
        .footer .social-nav li a:hover {
          color: #e61e66; }
      .footer .social-nav li .fa {
        font-size: 18px;
        color: #262c2e;
        -o-transition: opacity 0.25s ease-in-out;
        -webkit-transition: opacity 0.25s ease-in-out;
        -moz-transition: opacity 0.25s ease-in-out;
        transition: opacity 0.25s ease-in-out; }
        .footer .social-nav li .fa:hover {
          opacity: .5; }
      .footer .social-nav li:before {
        content: '/';
        font-size: 22px;
        width: 30px;
        display: inline-block;
        opacity: .5; }
      .footer .social-nav li:first-child:before {
        display: none; }

.i {
  position: absolute;
  left: -9999em;
  font-size: 0; }

.row {
  width: 100%;
  display: inline-block;
  background: #fafafa;
  padding: 40px 20px; }
  .row.white {
    background: transparent; }
  .row.pink {
    background: #e61e66;
    color: #fff; }
  .row.blue {
    background: #45bcd2;
    color: #fff; }

.small-pad {
  padding: 10px; }

.default-pad {
  padding: 20px; }

.left + .right, .right + .left {
  padding-top: 40px; }

/* GPU Enhanced */
.fa, .fa:hover {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

/* ==========================================================================
	Colours
	========================================================================== */
.highlight, a.highlight {
  color: #45bcd2;
  font-weight: 700; }

a {
  color: #58ba57;
  text-decoration: none; }

a:hover, a.highlight:hover, .meta a:hover {
  color: #262c2e;
  text-decoration: none; }

.meta {
  color: #989b9b; }
  .meta a {
    color: #989b9b;
    font-weight: 400; }

/* ==========================================================================
	Homepage
	========================================================================== */
.home-welcome {
  text-align: center;
  display: block;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 700px; }
  .home-welcome h1.divot {
    padding: 0; }

.home-intro .btn-home {
  text-align: center; }

.home-intro h2, .home-news h2 {
  text-align: center; }

/* ==========================================================================
	Buttons
	========================================================================== */
.btn,
button,
input[type="submit"] {
  color: #fff;
  padding: 1em 2.5em;
  text-shadow: none;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1em;
  text-decoration: none;
  border-radius: 4px;
  background-color: #e61e66;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.3);
  border: none;
  padding: 1em 1.8em 1.1em 1.8em;
  position: relative; }
  .btn:hover,
  button:hover,
  input[type="submit"]:hover {
    text-decoration: none;
    color: #fff;
    top: 2px;
    box-shadow: none; }
  .btn.charcoal,
  button.charcoal,
  input[type="submit"].charcoal {
    background-color: #262c2e; }
  .btn.inactive,
  button.inactive,
  input[type="submit"].inactive {
    background-color: #d1d2d2;
    color: #343e3e;
    opacity: .6; }
    .btn.inactive:hover,
    button.inactive:hover,
    input[type="submit"].inactive:hover {
      box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.3);
      top: 0; }

/* ==========================================================================
	Divots for headings
	========================================================================== */
.divot.before:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin: 20px auto;
  background: url(../img/divot-pink-yellow.png) center center no-repeat;
  background-size: 12px 12px; }
.divot.after:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin: 20px auto 0 auto;
  background: url(../img/divot-pink-yellow.svg) center center no-repeat;
  background-size: 12px 12px; }
.divot.after.green-blue:after {
  background-image: url(../img/divot-green-blue.png); }
.divot.after.orange-blue:after {
  background-image: url(../img/divot-orange-blue.png); }

/* ==========================================================================
	News & News Items
	========================================================================== */
.news-item h3, .news-item h5 {
  margin-bottom: 0; }
.news-item h3 a, .news-item h5 a {
  color: #343e3e;
  padding-bottom: 3px;
  border-bottom: 1px solid #d1d2d2;
  -o-transition: border 0.25s ease-in-out;
  -webkit-transition: border 0.25s ease-in-out;
  -moz-transition: border 0.25s ease-in-out;
  transition: border 0.25s ease-in-out; }
  .news-item h3 a:hover, .news-item h5 a:hover {
    color: #262c2e;
    border-color: #262c2e; }
.news-item .meta {
  padding-top: 4px; }

.news-item + .news-item {
  padding-top: 32px; }

/* ==========================================================================
	General Pages
	========================================================================== */
h1.divot {
  text-align: center;
  padding: 50px 20px 30px 20px; }

.contact-panel,
.testimonials-panel {
  padding: 70px 30px; }

.testimonials-panel {
  position: relative; }
  .testimonials-panel .flexslider {
    margin-bottom: 40px; }
    .testimonials-panel .flexslider blockquote {
      font-size: 100%; }
      .testimonials-panel .flexslider blockquote:before {
        content: ' “ ';
        display: block;
        margin: 0 auto;
        font-family: "kepler-std", Georgia, serif;
        font-size: 180px;
        line-height: 0;
        margin-top: 50px;
        opacity: .3;
        width: 100px; }

.contact-panel .btn, .strapline .btn, .testimonials-panel .btn {
  min-width: 190px;
  padding-top: 1.2em;
  padding-bottom: 1.35em; }

blockquote {
  font-style: oblique;
  font-size: 130%; }
  blockquote cite {
    display: block;
    font-size: 70%;
    opacity: .8;
    margin-top: 10px; }
    blockquote cite:before, blockquote cite:after {
      content: " — "; }

/* ==========================================================================
	About / Team
	========================================================================== */
.team-item img {
  margin-bottom: 14px; }

.team-item + .team-item {
  padding-top: 32px; }

/* ==========================================================================
	Services
	========================================================================== */
.service-selection {
  text-align: center; }

.service-link {
  display: inline-block;
  padding: 10px;
  color: #343e3e;
  width: 50%;
  vertical-align: top;
  -o-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out; }
  .service-link:hover {
    opacity: 0.7; }
  .service-link:before {
    content: '';
    display: block;
    margin: 0 auto 10px auto;
    width: 120px;
    height: 120px; }
  .service-link.service-web:before {
    background: url(../img/service-link-web.png) 0 0 no-repeat; }
  .service-link.service-app:before {
    background: url(../img/service-link-app.png) 0 0 no-repeat; }
  .service-link.service-db:before {
    background: url(../img/service-link-db.png) 0 0 no-repeat; }
  .service-link.service-api:before {
    background: url(../img/service-link-api.png) 0 0 no-repeat; }

.service-item .service-cta {
  margin: 0 auto;
  text-align: center; }
  .service-item .service-cta img {
    max-width: 100px;
    width: 175px;
    height: 175px; }
  .service-item .service-cta .btn {
    display: block;
    max-width: 140px;
    margin: 10px auto 30px auto; }
.service-item .service-content h2 {
  text-align: center; }

.divide + .divide {
  border-top: 1px solid #d1d2d2; }

/* ==========================================================================
	Blog
	========================================================================== */
.post-image {
  width: 100%;
  display: table;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

img.avatar {
  width: 25px;
  height: 25px;
  border-radius: 100%; }

.columns h1.standard-title, .columns h2.standard-title {
  padding: 0;
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: left; }
.columns .meta {
  display: table;
  width: 100%;
  margin-bottom: 10px; }
  .columns .meta * {
    vertical-align: middle; }

.column-right {
  margin-top: 30px;
  background: #fafafa;
  padding: 40px 20px; }
  .column-right .news-item + .news-item {
    padding-top: 12px; }
  .column-right .sharer {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 20px; }
    .column-right .sharer li {
      padding: 0 0 40px 0;
      margin: 0;
      display: inline-block;
      font-family: "kepler-std", Georgia, serif; }
      .column-right .sharer li:before {
        content: ' / ';
        opacity: .3; }
      .column-right .sharer li:first-child {
        margin-left: -8px; }
        .column-right .sharer li:first-child:before {
          display: none; }
      .column-right .sharer li a {
        padding: 3px 8px;
        color: #262c2e; }
        .column-right .sharer li a:hover {
          color: #e61e66; }

.blog-item {
  padding: 0 0 40px 0; }
  .blog-item h2.standard-title {
    margin-top: 40px; }
  .blog-item .post-image {
    margin-bottom: -40px; }

/* ==========================================================================
	Comments
	========================================================================== */
#comments {
  border-top: 1px solid #d1d2d2;
  padding-top: 40px; }

.commentlist, .commentlist ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.commentlist {
  padding-top: 0;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .commentlist li {
    display: block;
    width: 100%;
    margin-top: 20px; }
    .commentlist li .author-avatar, .commentlist li .comment-body {
      display: table-cell;
      vertical-align: top; }
    .commentlist li .author-avatar {
      width: 80px; }
      .commentlist li .author-avatar img.avatar {
        width: 60px;
        height: auto; }
    .commentlist li .meta time {
      display: inline; }
  .commentlist ul {
    padding: 20px 0 0 20px;
    position: relative;
    display: block; }
    .commentlist ul li {
      padding: 20px 0;
      margin: 0 0 20px 0;
      border-top: 3px solid rgba(0, 0, 0, 0.05);
      display: table; }
      .commentlist ul li .author-avatar, .commentlist ul li .comment-body {
        display: table-cell; }
      .commentlist ul li:first-child {
        border-top: none; }
  .commentlist .commentlist li:first-child li,
  .commentlist .commentlist ul li {
    border-top: 1px solid rgba(0, 0, 0, 0.05); }

/* ==========================================================================
	Pagination
	========================================================================== */
.pagination {
  display: table;
  width: 100%;
  padding: 50px 0 40px 0;
  border-top: 1px solid #d1d2d2; }
  .pagination ul {
    display: table;
    width: 100%; }
    .pagination ul li {
      display: table-cell;
      width: 50%;
      text-align: center; }
      .pagination ul li .btn {
        min-width: 120px; }

/* ==========================================================================
	Portfolio
	========================================================================== */
.strapline {
  padding-top: 40px;
  padding-bottom: 40px; }
  .strapline h2 {
    margin-bottom: 30px; }

.portfolio-item img {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 20px; }
.portfolio-item h3 {
  margin-bottom: 0; }
.portfolio-item h4 {
  margin-bottom: 20px; }

/* ==========================================================================
	Back to top
	========================================================================== */
#btt {
  position: fixed;
  text-align: center;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border-radius: 4px;
  z-index: 7;
  background: #262c2e;
  color: #fff;
  opacity: 0.7;
  display: none;
  -o-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.7); }
  #btt:hover {
    color: #fff;
    opacity: 1; }

/* ==========================================================================
    Shortcodes
  ========================================================================== */
.one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
  width: 100%; }

.one_third + .one_third {
  margin-top: 40px; }

.last {
  margin-right: 0 !important;
  clear: right; }

.clearboth {
  clear: both;
  display: inline-block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%; }

.clear {
  clear: both;
  display: block;
  width: 100%;
  float: left; }

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
  position: relative;
  margin-right: 4%;
  float: left; }

.one_half {
  width: 48%; }

.one_third {
  width: 30.66%; }

.one_third + .one_third {
  margin-top: 0; }

.two_third {
  width: 65.33%; }

.one_fourth {
  width: 22%; }

.three_fourth {
  width: 74%; }

.one_fifth {
  width: 16.8%; }

.two_fifth {
  width: 37.6%; }

.three_fifth {
  width: 58.4%; }

.four_fifth {
  width: 67.2%; }

.five_sixth {
  width: 82.67%; }

.one_sixth {
  width: 13.33%; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Global
   ========================================================================== */
.row {
  padding: 50px; }

.header {
  background: #262c2e;
  display: table;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; }
  .header nav {
    width: 70%;
    display: table-cell;
    text-align: right; }
    .header nav li {
      display: inline-block; }
      .header nav li.current-menu-item a {
        color: #e61e66; }
      .header nav li:before {
        content: '/';
        display: inline-block;
        color: #fff;
        opacity: .3; }
      .header nav li:first-child:before {
        display: none; }
      .header nav li a {
        display: inline-block;
        padding: 3px 10px; }
        .header nav li a:hover {
          color: #58ba57; }
  .header .menu-trigger {
    display: none; }

/* ==========================================================================
   Home
   ========================================================================== */
.home-welcome {
  padding: 90px 20px; }

.home-intro h2, .home-intro .btn-home, .home-news h2 {
  text-align: left; }

.home-news .news-item {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 32px;
  padding-right: 40px;
  float: left; }
.home-news .news-item + .news-item {
  padding-top: 0; }

/* ==========================================================================
	General Pages
	========================================================================== */
h1.divot {
  padding: 70px 20px 50px 20px; }

/* ==========================================================================
	About / Team
	========================================================================== */
.team-item {
  display: inline-block;
  width: 49.8%;
  vertical-align: top;
  padding-right: 20px; }

.team-item:nth-of-type(even) {
  padding-right: 0;
  padding-left: 20px; }

.team-item + .team-item {
  padding-top: 0;
  padding-bottom: 30px; }

/* ==========================================================================
   Services
   ========================================================================== */
.service-link {
  width: 24.7%; }

.service-item {
  display: table; }
  .service-item .service-cta, .service-item .service-content {
    display: table-cell;
    vertical-align: top; }
  .service-item .service-cta {
    width: 240px;
    padding-right: 20px; }
    .service-item .service-cta img {
      max-width: 70%; }
    .service-item .service-cta .btn {
      display: block;
      max-width: 70%; }
  .service-item .service-content h2 {
    text-align: left; }

/* ==========================================================================
   Blog
   ========================================================================== */
.post-image {
  height: 340px; }

.columns {
  display: table;
  width: 100%; }

.column-content, .column-right {
  display: table-cell;
  vertical-align: top; }

.column-right {
  width: 240px; }

/* ==========================================================================
   Portfolio
   ========================================================================== */
.portfolio-item {
  display: table;
  width: 100%;
  margin-bottom: -76px;
  padding-top: 130px; }
  .portfolio-item img {
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.35); }
  .portfolio-item h4 {
    margin-bottom: 40px; }
  .portfolio-item .portfolio-content, .portfolio-item .portfolio-image {
    display: inline-block;
    vertical-align: middle; }
  .portfolio-item .portfolio-image {
    width: 69%;
    padding-right: 40px; }
  .portfolio-item .portfolio-content {
    width: 30%; }

.portfolio-item:nth-of-type(odd) {
  direction: rtl; }
  .portfolio-item:nth-of-type(odd) .portfolio-image {
    padding-right: 0;
    padding-left: 40px; }
  .portfolio-item:nth-of-type(odd) .portfolio-content {
    direction: ltr; }

/* ==========================================================================
   Blog
   ========================================================================== */
.post-image {
  height: 390px; }

/* ==========================================================================
   Global
   ========================================================================== */
.left + .right, .right + .left {
  padding-top: 0; }

.left {
  float: left;
  width: 50%; }

.right {
  float: right;
  width: 50%; }

.footer .left {
  text-align: left;
  width: 70%; }
.footer .right {
  text-align: right;
  width: 30%; }
  .footer .right li {
    text-align: center; }

.default-pad {
  padding: 50px; }

.small-pad {
  padding-left: 25px;
  padding-right: 25px; }

/* ==========================================================================
   Home
   ========================================================================== */
.home-welcome {
  padding: 105px 20px; }

.home-intro {
  width: 55%; }

.home-news {
  width: 35%; }
  .home-news .news-item {
    width: 100%;
    padding-right: 0; }

/* ==========================================================================
	General Pages
	========================================================================== */
.contact-panel,
.testimonials-panel {
  padding: 90px 30px; }

h1.divot {
  padding: 130px 20px 120px 20px; }

/* ==========================================================================
  Blog
	========================================================================== */
.column-right {
  width: 300px;
  padding-left: 40px;
  padding-right: 40px; }

.post-image {
  height: 440px; }

.post-image {
  height: 540px; }

/* ==========================================================================
  Services
  ========================================================================== */
.service-item .service-cta {
  width: 260px; }
